html{
  scroll-behavior: smooth;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#navbarText button{
  background-color: #282c34;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

#navbarText button:hover{
  background-color: white;
  color: #282c34;
  border: 2px solid #282c34;
}

@media only screen and (max-width: 600px) {
  .navbar-nav {
    flex-direction: column;
  }

  #navbarNav {
    justify-content: flex-start;
  }

  .about-content {
    margin-top: 20px;
  }

  .about-content p {
    margin-top: 20px;
    font-size: 12px;
    font-weight: lighter;
    padding: 0;
  }

  .about-content h2 {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
  }

  .about-content h2:hover{
    border-bottom: 2px solid #61dafb;
  }

  .about-section{
    display: flex;
    flex-direction: column;
  }
}

/* media query for screens less than 600px width */
@media only screen and (max-width: 420px) {
  .navbar-nav {
    flex-direction: column;
  }

  #navbarNav {
    justify-content: flex-start;
  }

  .about-content {
    margin-top: 20px;
  }

  .about-content p {
    margin-top: 10px;
    font-size: 12px;
    font-weight: lighter;
    padding: 0;
  }

  .about-content h2 {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
  }

  .about-section{
    display: flex;
    flex-direction: column;
  }
}

#navigation{
  align-items: center;
  position: relative;
}

.navbar-brand{
  font-size: 24px;
  font-weight: 400;
  padding: 5px;
  margin: 5px;
  border: 3px solid #282c34;
}

#get-started-btn{
  float: right;
}

.home{
  background-image: url("https://images.unsplash.com/photo-1527137342181-19aab11a8ee8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  background-size: cover;
  opacity: 0.7;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-content h1{
  font-family: 'Roboto', sans-serif;
}

.home-content p{
  color: black;
  font-size: larger;
}

.nav-link button:hover{
  background-color: #282c34;
  color: #f5f5f5;
}

.home-content button{
  background-color: #f5f5f5;
  color: #282c34;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  margin: 10px;
}

/* about us section */
.about-content{
  display: flex;
  justify-content: center;
  align-items: baseline;
  text-align: left;
  flex-direction: column;
  margin: 20px;
}

.about-section{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 20px;
}

.about-content h2{
  font-family: 'Roboto', sans-serif;
  padding: 0 10px;
  border-left: 3px solid grey;
}

.about-content p{
  font-size: 16px;
  font-weight: lighter;
}

/* footer section */

.footer{
  background-color: #282c34;
  color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

#footer-details{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px 0 0 0;
}

.socials{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.socials a{
  margin: 10px;
  color: white;
}

.socials a:hover{
  color: blue;
}

.logo-text{
  font-size: 20px;
  font-weight: 400;
  padding: 5px;
  margin: 5px;
  border-bottom: 1px solid lightgray;
}

#footer-sign{
  font-size: 12px;
  color: lightgrey;
  font-weight: lighter;
  padding: 5px;
  margin: 5px;
}



